@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.questin-block__button,
.events-block__master-class:hover .events-block__button,
.about-block__button,
.title-block__button-copy,
.header__button {
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: white;
  font-weight: 700;
}

.questin-block__button:hover,
.events-block__master-class:hover .events-block__button:hover,
.about-block__button:hover,
.title-block__button-copy:hover,
.header__button:hover {
  text-decoration: underline;
}

.questin-block__button:active,
.events-block__master-class:hover .events-block__button:active,
.about-block__button:active,
.title-block__button-copy:active,
.header__button:active {
  background: -o-linear-gradient(34.05deg, #a62a26 0%, #9c3d05 100%);
  background: linear-gradient(55.95deg, #a62a26 0%, #9c3d05 100%);
}

.certificate-block__container,
.events-block,
.benefits-block__text h1,
.benefits-block__title-block,
.group__title h3,
.about-block__subtitle,
.achivement__block,
.title-block__subtitle {
  color: #1e212c;
}

.events-block__button,
.group__button,
.title-block__button {
  border: 1px solid #F75E05;
  border-radius: 4px;
  color: #F75E05;
  text-align: center;
}

.events-block__button:hover,
.group__button:hover,
.title-block__button:hover {
  text-decoration: underline;
}

.events-block__button:active,
.group__button:active,
.title-block__button:active {
  background-color: rgba(0, 0, 0, 0.133);
}

.header {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  min-height: 65px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  min-height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
}

.header__button {
  padding: 14px 40px;
  position: relative;
  z-index: 5;
}

.header__auth {
  background: url("../img/Person.svg") 0 2px no-repeat;
  padding-left: 28px;
  line-height: 1.25;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__auth:hover {
  text-decoration: underline;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu-open .menu {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 700;
  color: #424551;
}

.menu__item:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.title-block {
  background-color: rgba(255, 64, 58, 0.2);
  position: relative;
}

.title-block__container {
  position: relative;
  z-index: 2;
  padding-top: 208px;
  padding-bottom: 72px;
}

.title-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 94px;
}

.title-block__content:not(:last-child) {
  margin-bottom: 189px;
}

.title-block__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 43.4%;
      flex-basis: 43.4%;
}

.title-block__subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 16px;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.title-block__subtitle:hover {
  text-decoration: underline;
}

.title-block__subtitle:not(:last-child) {
  margin-bottom: 24px;
}

.title-block__subtitle::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FF3F3A;
  opacity: 0.12;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-animation: pulse 2s infinite ease;
          animation: pulse 2s infinite ease;
}

.title-block__subtitle::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  background: #FF3F3A url("../img/Polygon.svg") center no-repeat;
}

.title-block__subtitle:hover::after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.title-block__subtitle:hover::before {
  background-color: #dd3832;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

.title-block__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
}

.title-block__title:not(:last-child) {
  margin-bottom: 60px;
}

.title-block__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.title-block__button {
  font-weight: 700;
  padding: 18px 40px;
}

.title-block__button-copy {
  padding: 18px 40px;
  text-align: center;
}

.title-block__img {
  max-width: 602px;
}

.title-block__img img {
  max-width: 100%;
}

.achivement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achivement__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achivement__numb {
  font-weight: 900;
  font-size: 46px;
}

.achivement__dot {
  width: 8px;
  height: 8px;
  background-color: #FF3F3A;
  border-radius: 50%;
}

.bg-decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-decor > div {
  position: absolute;
}

.bg-decor__arrow {
  background: url("../img/bg/arrow.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: 12.3%;
  left: 4.2%;
}

.bg-decor__circle {
  background: url("../img/bg/circles.svg") 0 0 no-repeat;
  width: 284px;
  height: 284px;
  bottom: -9.2%;
  left: -5.8%;
}

.bg-decor__half-circles {
  background: url("../img/bg/half-circles.svg") 0 0 no-repeat;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40.7%;
}

.bg-decor__half-circle {
  background: url("../img/bg/half-circle.svg") 0 0 no-repeat;
  width: 61px;
  height: 61px;
  bottom: 24.2%;
  left: 38.2%;
}

.bg-decor__next-arrow {
  background: url("../img/bg/arrow.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: -4.1%;
  right: 5%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.bg-decor__dots {
  background: url("../img/bg/dots.svg") 0 0 no-repeat;
  width: 187px;
  height: 137px;
  bottom: 18%;
  right: -1.6%;
}

.about-block {
  position: relative;
}

.about-block__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 180px;
  padding-bottom: 180px;
}

.about-block__image {
  max-width: 705px;
}

.about-block__image img {
  max-width: 100%;
}

.about-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 31.7%;
      flex-basis: 31.7%;
}

.about-block__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 150%;
}

.about-block__subtitle:not(:last-child) {
  margin-bottom: 8px;
}

.about-block__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.about-block__title:not(:last-child) {
  margin-bottom: 40px;
}

.about-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.about-block__list:not(:last-child) {
  margin-bottom: 22px;
}

.about-block__item {
  line-height: 160%;
  color: #424551;
  padding-left: 32px;
  background: url("../img/check.svg") 0 6px no-repeat;
}

.about-block__button {
  display: inline-block;
  padding: 15px 32px;
  text-align: center;
}

.about-block__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.about-block__yellowdots {
  position: absolute;
  width: 216px;
  height: 225px;
  background: url("../img/bg/yellowdots.svg") 0 0 no-repeat;
  top: 23.2%;
  left: -5.8%;
  z-index: 1;
}

.group__container {
  padding-bottom: 180px;
}

.group__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.group__text:not(:last-child) {
  margin-bottom: 60px;
}

.group__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.group__title h3 {
  font-weight: 700;
  line-height: 150%;
}

.group__title h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.group__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 18px 40px;
}

.group__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.charac {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 214px 322px;
  grid-template-columns: 214px 322px;
  gap: 32px;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.charac:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.charac__image {
  max-width: 214px;
}

.charac__image img {
  max-width: 100%;
}

.charac__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.charac__prof {
  font-size: 14px;
  line-height: 150%;
  border-radius: 4px;
  padding: 1px 8px;
  color: #fff;
}

.charac__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.charac__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.charac__price p:first-of-type {
  font-weight: 700;
  color: #ff4242;
}

.charac__price p:last-of-type {
  color: #787a80;
}

.charac__prof--bg1 {
  background: #03CEA4;
}

.charac__prof--bg2 {
  background: #5A87FC;
}

.charac__prof--bg3 {
  background: #F89828;
}

.charac__prof--bg4 {
  background: #03CEA4;
}

.charac__prof--bg5 {
  background: #5A87FC;
}

.charac__prof--bg6 {
  background: #F52F6E;
}

.line {
  width: 1px;
  height: 16px;
  border-left: 1px solid #787A80;
}

.benefits-block {
  position: relative;
  z-index: 2;
}

.benefits-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding-bottom: 120px;
}

.benefits-block__title-block {
  text-align: center;
}

.benefits-block__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.benefits-block__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.benefits-block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.benefits-block__item {
  font-weight: 700;
  color: #9A9CA5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.benefits-block__item:nth-child(1) {
  padding: 15px 69px 15px 71px;
}

.benefits-block__item:nth-child(1):hover a {
  background: url("../img/continue/Blackstar.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(1):active a {
  background: url("../img/continue/Orangestar.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(1) a {
  background: url("../img/continue/Star.svg") 0 2px no-repeat;
  padding-left: 23px;
}

.benefits-block__item:nth-child(2) {
  padding: 15px 68px 15px 70px;
}

.benefits-block__item:nth-child(2):hover a {
  background: url("../img/continue/Blacklike.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(2):active a {
  background: url("../img/continue/Orangelike.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(2) a {
  background: url("../img/continue/like.svg") 0 2px no-repeat;
  padding-left: 23px;
}

.benefits-block__item:nth-child(3) {
  padding: 15px 70px 15px 72px;
}

.benefits-block__item:nth-child(3):hover a {
  background: url("../img/continue/Blacklayout.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(3):active a {
  background: url("../img/continue/Orangelayout.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(3) a {
  background: url("../img/continue/Layouts.svg") 0 2px no-repeat;
  padding-left: 23px;
}

.benefits-block__item:nth-child(4) {
  padding: 15px 99px 15px 101px;
}

.benefits-block__item:nth-child(4):hover a {
  background: url("../img/continue/Blackchat.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(4):active a {
  background: url("../img/continue/Orangechat.svg") 0 2px no-repeat;
}

.benefits-block__item:nth-child(4) a {
  background: url("../img/continue/Chat.svg") 0 2px no-repeat;
  padding-left: 23px;
}

.benefits-block__item:hover {
  color: #424551;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.benefits-block__item:active {
  border: 1px solid rgb(255, 63, 58);
  border-radius: 4px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  color: #FF3F3A;
}

.benefits-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 24px;
  -ms-flex-preferred-size: 40.2%;
      flex-basis: 40.2%;
}

.benefits-block__text h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
}

.benefits-block__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.benefits-block__image {
  max-width: 600px;
}

.benefits-block__image img {
  max-width: 100%;
}

.events-block {
  background-color: rgba(255, 64, 58, 0.2);
  position: relative;
}

.events-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  position: relative;
  z-index: 2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.events-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events-block__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
}

.events-block__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.events-block__dates-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.events-block__master-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 32px 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.events-block__master-class:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

.events-block__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events-block__day {
  color: #FF3F3A;
  font-weight: 900;
  font-size: 48px;
}

.events-block__month-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.events-block__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.events-block__time {
  line-height: 160%;
  color: #787A80;
}

.events-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  row-gap: 4px;
}

.events-block__exposition {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.events-block__kind {
  line-height: 160%;
  color: #787A80;
}

.events-block__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 15px 26px;
}

.events-block__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.events-block__bg div {
  position: absolute;
  z-index: 1;
}

.events-block__circle {
  background: url("../img/bg/circles.svg") 0 0 no-repeat;
  top: -12.314815%;
  /* 133/1080 */
  right: -3.134896%;
  /* 60.19/1920 */
  width: 284px;
  height: 284px;
}

.events-block__dots {
  background: url("../img/events/dots.svg") 0 0 no-repeat;
  width: 116px;
  height: 159px;
  left: 0.520833%;
  /* 10/1920 */
  bottom: 0.648148%;
  /* 7/1080 */
}

.questin-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.questin-block span {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
}

.questin-block__button {
  padding: 18px 41px 18px 40px;
  font-weight: 700;
  color: #fff;
}

.certificate-block__container {
  padding-top: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificate-block__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.certificate-block__subtitle {
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.certificate-block__subtitle:not(:last-child) {
  margin-bottom: 8px;
}

.certificate-block__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.certificate-block__title:not(:last-child) {
  margin-bottom: 48px;
}

.certificate-block__text {
  line-height: 160%;
  color: #424551;
}

.certificate-block__text:not(:last-child) {
  margin-bottom: 32px;
}

.certificate-block__organization {
  max-width: 395px;
}

.certificate-block__organization img {
  max-width: 100%;
}

.certificate-block__image {
  max-width: 105.125%;
  -webkit-transform: translate(5.125%, 0px);
      -ms-transform: translate(5.125%, 0px);
          transform: translate(5.125%, 0px);
}

.certificate-block__image img {
  max-width: 825px;
  width: 100%;
}

@media (min-width: 26.25em) {
  .certificate-block__title {
    font-size: 2.875rem;
  }
}

@media (min-width: 27.6875em) {
  .benefits-block__title {
    font-size: 2.875rem;
  }
}

@media (min-width: 30.6875em) {
  .events-block__title {
    font-size: 2.875rem;
  }
}

@media (min-width: 65.6875em) {
  .title-block__title {
    font-size: 4rem;
  }
}

@media (max-width: 1259px) {
  .about-block__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-block__text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1100px) {
  .title-block__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .title-block__text-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .title-block__subtitle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .title-block__title {
    text-align: center;
  }

  .achivement__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bg-decor {
    display: none;
  }
}

@media (max-width: 865px) {
  .title-block__button-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 620px) {
  .achivement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }

  .achivement__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .achivement__dot {
    display: none;
  }
}

@media (max-width: 397px) {
  .group__title h1 {
    font-size: 44px;
  }
}

@media (max-width: 328px) {
  .about-block__title {
    font-size: 44px;
  }
}

@media (max-width: 20em) {
  .title-block__title {
    font-size: 1.875rem;
  }

  .benefits-block__title {
    font-size: 2.0625rem;
  }

  .events-block__title {
    font-size: 1.75rem;
  }

  .certificate-block__title {
    font-size: 2rem;
  }
}

@media (max-width: 78.1875rem) {
  .benefits-block__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 78.75rem) {
  .benefits-block__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }

  .benefits-block__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-preferred-size: 80.2%;
        flex-basis: 80.2%;
  }
}

@media (max-width: 77.4375rem) {
  .events-block__master-class {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .events-block__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 74.375rem) {
  .charac {
    -ms-grid-columns: 400px;
    grid-template-columns: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    background-color: #FFCF2D;
  }

  .charac:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .charac__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    margin-bottom: 0.3125rem;
  }
}

@media (max-width: 68.75em) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5px;
    row-gap: 15px;
  }
}

@media (max-width: 60.9375rem) {
  .certificate-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }

  .certificate-block__text-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .certificate-block__image {
    max-width: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 57.1875rem) {
  .events-block__master-class {
    text-align: center;
  }

  .events-block__master-class:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 53.4375rem) {
  .group__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .charac {
    -ms-grid-columns: 214px 322px;
    grid-template-columns: 214px 322px;
  }

  .charac__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 48.06125em) {
  .header {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }

  .header__logo {
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .header__action {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .header__button {
    padding: 1.25rem 3.125rem;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 15px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: rgb(253, 195, 161);
    padding: 6.25rem 1.875rem 0rem 1.875rem;
  }

  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 3.4375rem;
    z-index: 5;
    background-color: rgba(247, 94, 5, 0.5);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
    color: #000;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .title-block__container {
    padding-top: 100px;
  }

  .title-block__content:not(:last-child) {
    margin-bottom: 65px;
  }

  .about-block__container {
    padding-top: 80px;
    gap: 80px;
    padding-bottom: 80px;
  }

  .group__container {
    padding-bottom: 60px;
  }

  .group__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }

  .group__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 48.06125em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 40.0625rem) {
  .benefits-block__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 36.875rem) {
  .charac {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .charac__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 32.375rem) {
  .questin-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 29.99875em) {
  .header__container {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}

@media (min-width: 20em) and (max-width: 65.6875em) {
@supports (font-size: clamp( 1.875rem , 0.9447674419rem  +  4.6511627907vw , 4rem )) {
    .title-block__title {
      font-size: clamp( 1.875rem , 0.9447674419rem  +  4.6511627907vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 0.9447674419rem  +  4.6511627907vw , 4rem )) {
    .title-block__title {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 45.6875);
    }
}
}

@media (min-width: 20em) and (max-width: 27.6875em) {
@supports (font-size: clamp( 2.0625rem , -0.0513211382rem  +  10.5691056911vw , 2.875rem )) {
    .benefits-block__title {
      font-size: clamp( 2.0625rem , -0.0513211382rem  +  10.5691056911vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 2.0625rem , -0.0513211382rem  +  10.5691056911vw , 2.875rem )) {
    .benefits-block__title {
      font-size: calc(2.0625rem + 0.8125 * (100vw - 20rem) / 7.6875);
    }
}
}

@media (min-width: 20em) and (max-width: 30.6875em) {
@supports (font-size: clamp( 1.75rem , -0.3552631579rem  +  10.5263157895vw , 2.875rem )) {
    .events-block__title {
      font-size: clamp( 1.75rem , -0.3552631579rem  +  10.5263157895vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , -0.3552631579rem  +  10.5263157895vw , 2.875rem )) {
    .events-block__title {
      font-size: calc(1.75rem + 1.125 * (100vw - 20rem) / 10.6875);
    }
}
}

@media (min-width: 20em) and (max-width: 26.25em) {
@supports (font-size: clamp( 2rem , -0.8rem  +  14vw , 2.875rem )) {
    .certificate-block__title {
      font-size: clamp( 2rem , -0.8rem  +  14vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 2rem , -0.8rem  +  14vw , 2.875rem )) {
    .certificate-block__title {
      font-size: calc(2rem + 0.875 * (100vw - 20rem) / 6.25);
    }
}
}